# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js build output (Ise hum commit karenge agar Hostinger build nahi kar paa raha)
# /.next/  <-- Maine ise comment kar diya hai taaki build files push ho sakein

# production
/out/
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files 
# IMPORTANT: Agar tu production variables Git ke zariye bhejna chahta hai (not recommended but works for fix)
# toh .env.production ko ignore mat kar.
.env
.env.local
.env.development.local
.env.test.local

# Lekin .env.production ko hum allow karenge taaki Hostinger ko URI mil jaye
!.env.production

# vercel & typescript
.vercel
*.tsbuildinfo
next-env.d.ts